/*----------------------------------------------------------------------*

	REPEATERRRR
	http://repeaterrrr.com/
	https://github.com/thomhines/repeaterrrr
	
	The clean and easy repeating timer.

	Copyright 2014, Thom Hines
	MIT License
	
*----------------------------------------------------------------------*/

@use "sass:color";

$white: #eee;
$black: #333;
$semi-black: rgba(50,50,50,.2);
$clear: rgba(0,0,0,0);
$gray: #ccc;
$dk-red: #c22026;
$red: #ee9494;
$blue: #94d7ea;
$green: #8ed994;
$yellow: #ecf298;
$orange: #cf7127;
$width: 500px;


/*----------------------------------------------------------------------*

	STANDARD ELEMENTS

*----------------------------------------------------------------------*/

*, *:before, *:after {
box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	transition: all 1s ease-in-out;
}


h3, h4, h5 {
	font-weight: 300;
	margin: 0;
}

h1 {
	float: right;
	margin: 0 0 0 .5em;
	font-size: 1.7em;
}

h2 {
	display: table-cell;
	width: $width;
	height: 60px;
	margin: auto;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	vertical-align: bottom;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	margin: 1em 0 0;
	font-size: 1.1em;
}

h6 {
	text-transform: uppercase;
}


p {
	margin: 0 auto 3em;
}

a {
	color: #666;
	&:hover {
		color: $black;
	}
}

footer {
	position: fixed;
	width: 100%;
	padding: 15px 35px;
	bottom: 0;
	right: 0;
	text-align: right;
	
	span, a {
		display: inline-block;
		margin-right: .3em;
		font-size: 1.1em;
		color: $black;
		opacity: .6;
		cursor: pointer;
		text-decoration: none;
		
		&:hover {
			opacity: 1;
		}
		
		&.title {
			float: right;

			img {
				width: 80px;
			}
		}
		
		&[href*="edit"], &[href*="thomhines"] {
			margin-top: .35em;
		}
	}
	i {
	}
}



/*----------------------------------------------------------------------*

	TIMER PAGE

*----------------------------------------------------------------------*/

.container {
	/* center container vertically and horizontally in page */
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: $width;
	padding: 60px 30px;
	color: $black;
	transition: all 1s ease-in-out;
}


.home {
	background: $dk-red;
	color: $white;

	h1 img {
		width: 100%;
	}

	.container {
		background: $dk-red;
		color: $white;
	}

	.button {
		background: none;
		color: $white;
		border: 2px solid $white;
		font-weight: bold;

		&:hover,
		&:focus,
		&:active {
			background: $white;
			color: $dk-red;
			border-color: $white;
		}
	}

	.special.button {
		background: $white;
		color: $dk-red;
		font-size: 1.2em;

		&:hover,
		&:focus,
		&:active {	
			background: $dk-red;
			color: $white;
			border-color: $white;
		}
	}
}

.intro {
	h1, h2, h3, h4, h5, h6, p {
		float: none;
		width: auto;
		text-align: center;
		margin: 0 auto 1em;
		font-weight: 500;
	}
	
	h1 {
		margin-bottom: 0;
	}
	
	h5 {
		font-size: 1.2em;
		// padding: 0 0 20px;
		// border-bottom: 4px solid #000;
	}

	h6 {
		font-weight: 800;
		letter-spacing: 0.08em;
	}
	
	p {
		font-size: .9em;
		font-weight: 300;
	}

	hr {
		height: 5px;
		margin: 1.4em 0;
		border: none;
		background: repeating-linear-gradient(
			135deg,
			transparent,
			transparent 4px,
			$white 5px,
			$white 7px
		);
	}

	.button {
		margin: 0 0 1em;
	}
}

// HIDE TIMER AND COMPLETE SECTIONS
.timer, .complete {
	display: none;
}

.progress_bar {
	display: block;
	width: 300px;
	height: 40px;
	margin: 1em auto 0;
	padding: 6px;
	background: $black;
	border-radius: 3px;
	text-align: left;

	span {
		display: block;
		height: 28px;
		border-radius: 2px;
		overflow: hidden;
		transition: background-color .1s ease-in-out;
	}
}

.total_progress {
	margin: 6px auto;
	padding: 0;
	height: 8px;
	background: $semi-black;

	span {
		height: 8px;
		background: $black;
		border-radius: 3px;
	}
}

.seconds {
	font-weight: 700;
}



/*----------------------------------------------------------------------*

	EDIT PAGE

*----------------------------------------------------------------------*/


.editor {
	height: auto;
	width: 80%;
	max-width: 900px;
	margin: auto;
	padding: 20px 20px 40px;
	text-align: left;
	
	h4 {
		margin: 1em 0 .6em;
		clear: both;
		font-size: 1.2em;
		border-bottom: 1px solid $black;
	}
	h5 {
		margin: 0 0 .2em;
		font-size: 1em;
	}
	p {
		margin: .2em 0;
		font-size: .6em;
	}
}

label {
	display: inline-block;
	font-size: .8em;
	clear: both;
}

input, textarea, select {
	font-family: 'Open Sans', sans-serif;
	display: block;
	width: 100%;
	margin: 0 0 15px;
	padding: 5px 9px;
	font-size: .8em;
	background: #fff;
	border: 1px solid $gray;
	border-radius: 3px;
	
	&.title {
		font-size: 1.3em;
	}
	&.name {
		// width: 180px;
		flex: 3;
	}
	
	
	&.time {
		width: 70px;
		text-align: center;
	}
	
	
	&.repeat {
		display: inline-block;
		width: 58px;
		padding-left: .3em;
		padding-right: .3em;
		text-align: center;
	}
	&.timer_url {
		display: inline-block;
		width: 55%;
		padding: .7em;
		font-size: .5em;
	}
}

textarea {
	height: 150px;
	width: 100%;
}

select {
	padding: 5px;
	font-size: .8em;
	background: url(/img/dropdown.svg), #fff;
	background-position: 93% 53%;        
	background-repeat: no-repeat;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

option {
	background: $white;
}

.steps_labels {
	height: 1.2em;
	position: relative;
	display: flex;

	label {
		// position: absolute;
		font-weight: bold;
	}
	.name_label {
		margin-left: 68px;
		flex: 3;
	}
	.time_label {
		width: 130px;
	}
	.color_label {
		flex: 1;
	}
	.tone_label {
		flex: 1;
	}
}

.step {
	&.incomplete {
		input, select {
			background-color: #ccc;
		}
	}
}

.field_error {
	display: none;
	margin: 0 0 0 -30px;
	color: $red;
	
	&.has_error {
		display: inline-block;
	}
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	position: relative;
	padding: 2px 0 2px 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	display: flex;
	gap: 8px;
	align-items: flex-start;
	
	.button,
	.button.smaller {
		margin: 0;
	}

	input, select {
		display: inline;
	}
	
	select {
		// width: 80px;
		flex: 1;
	}
	
	label {
		display: block;
		margin: 0 1em 0 0;
		// position: absolute;
		// left: 55%;
		// bottom: 20%;
		// width: 0;
		// height: 0;
		// line-height: 0;
		// display: inline-block;
	}
}

.ui-sortable-helper {//.slip-reordering {
	background: $clear;
	input, select, .button {
		box-shadow: 0 2px 10px rgba(0,0,0,0.45);
	}
}

.drag_handle {
	padding: .5em;
	font-family: "fontello";
	font-size: .7em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: move;
}

.editor .repeat_container {
// 	float: left;
	margin: 1em 0 .5em;
}

/*
.save.button {
	float: right;
	margin-top: .7em;
}
*/
.error_message {
	display: inline-block;
	padding: .5em 1em;
	font-size: .7em;
	background: $red;
	color: rgba(0,0,0,.6);
	border-radius: 4px;
	
	&:empty {
		padding: 0;
	}
}


.share_container {
	clear: both;
	margin: 20px 0;
}

.ajax, .row_template {
	display: none;
}







/*----------------------------------------------------------------------*

	COMMON CLASSES

*----------------------------------------------------------------------*/

.button {
	display: inline-block;
	margin: 2em .2em;
	padding: .4em 1em;
	background: $black;
	color: $white;
	font-size: 1.2em;
	line-height: 1em;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	transition: all .1s ease-in-out;
		
	&.medium {
		font-size: .7em;
		margin: 0 0 0 .3em;
		padding: .55em;
	}
	&.small {
		font-size: .7em;
		margin: 0 0 .5em .3em;
		padding: .4em .6em;
	}
	&.smaller {
		font-size: .7em;
		margin: 0 0 0 .3em;
		padding: .55em .3em;
	}
	&.smallest {
		font-size: .6em;
		margin: 0 0 0 .3em;
		padding: .1em;
	}
	&.special {
		margin: .4em .2em .4em 0;
	    padding: 0.5em 1em;
	    font-size: 17px;
		background: $orange;/* saturate($blue*.6, 20%); */
		color: $white;
		&:hover, &:focus {
			background: color.adjust($orange, $lightness: 10%);
			color: $white;
		}
	}
	&.success {
		background: color.adjust($green, $lightness: -20%);
	}
	&.error {
		background: color.adjust($red, $lightness: -20%);
	}
	&.disabled, &.disabled:hover, &.disabled:focus {
		opacity: .3;
		cursor: default;
		pointer-events: none;		
	}
	&.working {
		background: color.adjust($green, $lightness: -20%);
		pointer-events: none;
	}
}
.pause i, .skip i {
	font-size: .7em;
}
.button:hover, .button:focus, .button.button_hover {
	color: $black;
	background: $semi-black;
}

.white {
	background-color: $white;
	
	.current_progress span {
		background-color: $white;
	}
	
	&li {
		background-color: $clear;
		input, select {
			background-color: white;
		}
	}

}

.red {
	background-color: $red;
	
	.current_progress span {
		background-color: color.adjust($red, $lightness: 60%);
	}
	
	&li {
		background-color: $clear;
		input, select {
			background-color: $red;
		}
	}
}

.yellow {
	background-color: $yellow;
	
	.current_progress span {
		background-color: color.adjust($yellow, $lightness: 60%);
	}
	
	&li {
		background-color: $clear;
		input, select {
			background-color: $yellow;
		}
	}
}

.green {
	background-color: $green;
	
	.current_progress span  {
		background-color: color.adjust($green, $lightness: 60%);
	}
	
	&li {
		background-color: $clear;
		input, select {
			background-color: $green;
		}
	}
}

.blue {
	background-color: $blue;
	
	.current_progress span  {
		background-color: color.adjust($blue, $lightness: 60%);
	}
	
	&li {
		background-color: $clear;
		input, select {
			background-color: $blue;
		}
	}
}

.left {
	text-align: left;
}

// SHOW "SAVE TO HOMEPAGE" INFO FOR IOS DEVICES
.ios {
	display: none;

	/* iPad */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		display: block;
	}
	/* iPhone 2G-4S */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		display: block;
	}
	/* iPhone 5 */
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
		display: block;
	}
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}



// FILL PHONE SIZE BROWSERS BETTER
@media screen and (max-device-width: 800px) {
	html, body {
		font-size: 24px;
	}
	.progress_bar {
		width: 100%;
	}
	.editor {
		width: 100%;
	}
	// .button.delete_step {
	// 	margin: 1.5em 1em;
	// }
	// .drag_handle {
	// 	padding: 1.5em 1em;
	// }
}

// DEAL WITH SHORT OR LANDSCAPE BROWSERS
@media screen and (max-height: 600px){
	html, body {
		font-size: 11px;
	}
	h2 {
		height: 30px;
		line-height: 30px;
	}
	.button {
		font-size: 1.3em;
		margin: 1em .2em;
	}
	.current_progress {
		height: 20px;
		padding: 3px;
	}
	.current_progress span {
		height: 14px;
	}
	footer {
		bottom: auto;
		top: 0;
		padding: 5px 0 0 15px;
		text-align: left;
		
		img {
			width: 70%;
		}
	}
	// .button.delete_step {
	// 	margin: 1.5em 1em;
	// }
	// .drag_handle {
	// 	padding: 1.5em 1em;
	// }
	// input.name {
	// 	width: 186px;
	// }
}