/*----------------------------------------------------------------------*

	REPEATERRRR
	http://repeaterrrr.com/
	https://github.com/thomhines/repeaterrrr
	
	The clean and easy repeating timer.

	Copyright 2014, Thom Hines
	MIT License
	
*----------------------------------------------------------------------*/

$white: #eee;
$black: #333;
$semi-black: rgba(50,50,50,.2);
$gray: $white / 1.2;
$red: #ee9494;
$blue: #94d7ea;
$green: #8ed994;
$yellow: #ecf298;
$orange: #cf7127;
$width: 500px;

@import '../cinch/libraries/bourbon/_bourbon.scss';

/*----------------------------------------------------------------------*

	STANDARD ELEMENTS

*----------------------------------------------------------------------*/

*, *:before, *:after {
box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	transition: all 1s ease-in-out;
}


h3, h4, h5 {
	font-weight: 300;
	margin: 0;
}

h1 {
	float: right;
	margin: 0 0 0 .5em;
	font-size: 1.7em;
}

h2 {
	display: table-cell;
	width: $width;
	height: 60px;
	margin: auto;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	vertical-align: bottom;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	margin: 1em 0 0;
	font-size: 1.1em;
}

h6 {
	text-transform: uppercase;
}


p {
	margin: 0 auto 3em;
}

a {
	color: $black - 90;
	&:hover {
		color: $black;
	}
}

footer {
	position: fixed;
	width: 100%;
	padding: 15px 35px;
	bottom: 0;
	right: 0;
	text-align: right;
	
	span, a {
		display: inline-block;
		margin-right: .3em;
		font-size: 1.1em;
		color: $black;
		opacity: .6;
		cursor: pointer;
		text-decoration: none;
		
		&:hover {
			opacity: 1;
		}
		
		&.title {
			float: right;
		}
		
		&[href*="edit"], &[href*="thomhines"] {
			margin-top: .35em;
		}
	}
	i {
	}
}



/*----------------------------------------------------------------------*

	TIMER PAGE

*----------------------------------------------------------------------*/

.container {
	/* center container vertically and horizontally in page */
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: $width;
	padding: 60px 30px;
	color: $black;
	transition: all 1s ease-in-out;
}


.intro {
	h1, h2, h3, h4, h5, h6, p {
		float: none;
		width: auto;
		text-align: center;
		margin: 0 auto 1em;
	}
	p {
		font-size: .8em;
	}
	.button {
		margin: 0 0 1em;
	}
}

// HIDE TIMER AND COMPLETE SECTIONS
.timer, .complete {
	display: none;
}

.progress_bar {
	display: block;
	width: 300px;
	height: 40px;
	margin: 1em auto 0;
	padding: 6px;
	background: $black;
	border-radius: 3px;
	text-align: left;

	span {
		display: block;
		height: 28px;
		border-radius: 2px;
		overflow: hidden;
		transition: background-color .1s ease-in-out;
	}
}

.total_progress {
	margin: 6px auto;
	padding: 0;
	height: 8px;
	background: $semi-black;

	span {
		height: 8px;
		background: $black;
		border-radius: 3px;
	}
}

.seconds {
	font-weight: 700;
}



/*----------------------------------------------------------------------*

	EDIT PAGE

*----------------------------------------------------------------------*/


.editor {
	height: auto;
	width: $width+40;
	margin: auto;
	padding: 20px 20px 40px;
	text-align: left;
	h4 {
		margin: 1em 0 .6em;
		clear: both;
		font-size: 1.2em;
		border-bottom: 1px solid $black;
	}
	h5 {
		margin: 0 0 .2em;
		font-size: 1em;
	}
	p {
		margin: .2em 0;
		font-size: .6em;
	}
}

label {
	display: block;
	font-size: .8em;
	clear: both;
}

input, textarea, select {
	font-family: 'Open Sans', sans-serif;
	display: block;
	width: 100%;
	margin: 0 0 15px;
	padding: 5px 9px;
	font-size: .8em;
	background: $fff;
	border: 1px solid $white*.8;
	border-radius: 3px;
	
	&.title {
		font-size: 1.3em;
	}
	&.name {
		width: 150px;
	}
	&.time {
		width: 70px;
		text-align: center;
	}
	
	&.repeat {
		display: inline-block;
		width: 58px;
		padding-left: .3em;
		padding-right: .3em;
		text-align: center;
	}
	&.timer_url {
		display: inline-block;
		width: 55%;
		padding: .7em;
		font-size: .5em;
	}
}

textarea {
	height: 150px;
	width: 100%;
}

select {
	padding: 5px;
	font-size: .8em;
	background: url(/img/dropdown.svg), #fff;
	background-position: 93% 53%;        
	background-repeat: no-repeat;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

option {
	background: $white;
}

table {
	width: 100%;
	margin: 0 0 15px;
	padding: 0 0 15px;
	text-align: center;
	border-collapse:collapse;
	
	input, select {
		display: inline-block;
		width: 80px;
		margin: 0;
	}
	input[type='text'] {
		width: 200px;
	}
}

.dragging {
	top: -10px;
	left: -10px;
	background-color: $semi-black;
}

th, td {
	margin: 0;
	padding: 2px 0 2px 3px;
	vertical-align: top;
	@include user-select();
	border: none;
	
	&:nth-child(1) {
		width: 50px;
	}
	&:nth-child(3) {
		width: 200px;
	}
	span {
		display: block;
		margin-top: -3px;
		font-size: 0.6em;
	}
}

th {
	font-size: .7em;
}

.drag_handle {
	padding: 0.6em 0;
	font-family: "fontello";
	font-size: .7em;
}

.editor .repeat_container {
	float: left;
	margin: 1em 0 .5em;
}

.save.button {
	float: right;
	margin-top: .7em;
}

.error_message {
	display: block;
	float: right;
	clear: both;
	margin-top: -2em;
	padding: .3em .6em;
	opacity: 0;
	text-align: right;
	font-size: .8em;
	background: $red;
	border-radius: 2px;
}

.disabled + .error_message {
	opacity: 1;
}


.share_container {
	clear: both;
	margin: 20px 0;
}

.ajax, .row_template {
	display: none;
}







/*----------------------------------------------------------------------*

	COMMON CLASSES

*----------------------------------------------------------------------*/

.button {
	display: inline-block;
	margin: 2em .2em;
	padding: .4em 1em;
	background: $black;
	color: $white;
	font-size: 1.2em;
	line-height: 1em;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: middle;
	@include user-select();
	transition: all .1s ease-in-out;
		
	&.medium {
		font-size: .7em;
		margin: 0 0 0 .3em;
		padding: .55em;
	}
	&.small {
		font-size: .7em;
		margin: 0 0 .5em .3em;
		padding: .4em .6em;
	}
	&.smaller {
		font-size: .7em;
		margin: 0 0 0 .3em;
		padding: .55em .3em;
	}
	&.smallest {
		font-size: .6em;
		margin: 0 0 0 .3em;
		padding: .1em;
	}
	&.special {
		background: $orange;/* saturate($blue*.6, 20%); */
		color: $white;
		&:hover {
			background: $orange * 1.1;/* saturate($blue*.7, 20%); */
			color: $white;
		}
	}
	&.success {
		background: $green*.8;
	}
	&.error {
		background: $red*.8;
	}
	&.disabled, &.disabled:hover {
		opacity: .3;
		cursor: default;
		pointer-events: none;		
	}
	&.working {
		background: $green*.8;
		pointer-events: none;
	}
}
.pause i, .skip i {
	font-size: .7em;
}
.button:hover, .button.button_hover, .zeroclipboard-is-hover {
	color: $black;
	background: $semi-black;
}

.white {
	background-color: $white;
	
	.current_progress span {
		background-color: $white;
	}
	
	tr& {
		background-color: $white;
		input, select {
			background-color: white;
		}
	}

}

.red {
	background-color: $red;
	
	.current_progress span {
		background-color: $red * 1.6;
	}
	
	tr& {
		background-color: $white;
		input, select {
			background-color: $red;
		}
	}
}

.yellow {
	background-color: $yellow;
	
	.current_progress span {
		background-color: $yellow * 1.6;
	}
	
	tr& {
		background-color: $white;
		input, select {
			background-color: $yellow;
		}
	}
}

.green {
	background-color: $green;
	
	.current_progress span  {
		background-color: $green * 1.6;
	}
	
	tr& {
		background-color: $white;
		input, select {
			background-color: $green;
		}
	}
}

.blue {
	background-color: $blue;
	
	.current_progress span  {
		background-color: $blue * 1.6;
	}
	
	tr& {
		background-color: $white;
		input, select {
			background-color: $blue;
		}
	}
}

.left {
	text-align: left;
}

// SHOW "SAVE TO HOMEPAGE" INFO FOR IOS DEVICES
.ios {
	display: none;

	/* iPad */
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		display: block;
	}
	/* iPhone 2G-4S */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		display: block;
	}
	/* iPhone 5 */
	@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
		display: block;
	}
}





// FILL PHONE SIZE BROWSERS BETTER
@media screen and (max-device-width: 400px) {
	html, body {
		font-size: 24px;
	}
	.progress_bar {
		width: 100%;
	}
}

// DEAL WITH SHORT OR LANDSCAPE BROWSERS
@media screen and (max-height: 600px){
	html, body {
		font-size: 14px;
	}
	h2 {
		height: 30px;
		line-height: 30px;
	}
	.button {
		font-size: 1.3em;
		margin: 1em .2em;
	}
	.current_progress {
		height: 20px;
		padding: 3px;
	}
	.current_progress span {
		height: 14px;
	}
	footer {
		bottom: auto;
		top: 0;
		padding: 5px 0 0 15px;
		text-align: left;
		
		img {
			width: 70%;
		}
	}
}


@media screen and (max-height: 600px){
	html, body {
		font-size: 11px;
	}
}