AddType text/cache-manifest .manifest
AddType audio/mpeg mp3
AddType audio/ogg ogg

# HANDLE APPLICATION CACHE
#<FilesMatch "\.(manifest)$">
#ExpiresActive On
#ExpiresDefault "access"
#</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteRule ^([a-zA-Z0-9]*)$ index.php?set=$1 [L]
	RewriteRule ^edit/([a-zA-Z0-9]*)$ edit.php?set=$1 [L]
</IfModule>